/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31-mar-2017, 15.55.25
    Author     : pierlu
*/
body{
    background-color: #e9e9e9;
    font-family: Helvetica, Times, serif;
}
#BloccoSup{
    border-style: none;
    background-color: #ffad1f;
    color: #ffffff;
    height: 50px;
    margin: 0px;
    padding: 0px;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-8px;
    font-size:0pt;
    width: 100%;
}
#BloccoTitolo{
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color: #ffd03f;
    color: white;
    width: 33%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}
#BloccoProfilo{
    border-style: solid;
    border-width: 1px;
    border-color:#ffffff;
    background-color: #ffd03f;
    color: white;
    height: 50px;
    width: 33%;
    text-align: center;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}
#Corrente{
    border-style: solid;
    border-width: 1px;
    border-color:#ffffff;
    background-color:#ffffff;
    color: white;
    height: 50px;   
    width: 32%;
    text-align: center;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}

#log{
    background-color: #e9e9e9;
}
.fontSin{
    font-size:14pt;
    font-weight:bold;
}
a:link{
    color: whitesmoke;
}
a:visited {
    color: grey;
}
a:hover {
    color: red;
}
a:active {
    color: red;
} 
#h1centro{
    text-align: center;
}
.barPers{
    border-style: none;
}
.barGrup{
    border-style: none;
    
}
.fontSin{
    font-size:14pt;
    font-weight:bold;
}
.row{
    display:table-row;
    
}
#UpButton{
    width: 500px;
    
    
}
#foto{
    float:left;
}
.acapo{
    
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#DimBott{
    
    width: 150px;
}
#BloccoModProf{
    border-style: solid;
    border-color:#ffffff;
    border-width: 1px;
    float:left;
    background-color: #ffffff;
    margin:5px;
    padding-left: 5px;
    padding-top: 5px;
}

#BloccoModProf label, #BloccoModProf input{
    width: 250px;
    display: table-cell;
    margin-bottom: 20px;
}
#UpButton{
    width: 500px;
    
    
}
#foto{
    float:left;
}
#bloccofoto{
    float:left;
    border-style: solid;
    border-width: 1px;
    width: 80px;
    height: 80px;
    margin:5px;
    background-color:#ffffff;
}

#bloccoCentrale{
       background: #ffd03f;
       border-style: solid;
       border-color: #999999;
       border-radius: 5px;
       width: 350px;
       height: 250px;
       margin-left: auto;
       margin-right: auto;
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/

@media only screen and (max-width: 480px) {
    
   
#NomeUtente{
    
    border-style: none;
    text-align: center;
    font-size:12pt;
    line-height: 25px;
}
#BloccoSin{
    border-style: solid;
    border-color:#ffffff;
    border-width: 1px;
    margin-top: 55px;
    background-color: #ffffff;
}
.Post{
    padding:1px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 100%;
}
#Posts{
    
    border-style: none;
    border-color:#ffffff;
    border-width: 2px;
    display: inline-block;
    width: 100%;
}

#Stato{
    border-style: none;
    background-color: #ffffff;
    width: 100%;
    float:left;
    margin-top: 10px;
}
.imgresize{
    height: auto; 
    width: auto; 
    max-width: 400px; 
    max-height: 200px;
}
#BloccoModProf label, #BloccoModProf input{
    width: 150px;
    display: table-cell;
    
}
#UpButton{
    width: 360px;
}

}

@media only screen and (min-width: 481px) and (max-width:720px)  {
    #NomeUtente{
     border-style: none;
    text-align: center;
    font-size:12pt;
    line-height: 25px;
}
#BloccoSin{
    border-style: solid;
    border-color:#ffffff;
    border-width: 1px;
    width:180px;
    margin-left:-8px;
    float:left;
    background-color: #ffffff;
    margin-top: 40px;
}
.Post{
    padding:1px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: auto;
}
#Posts{
    
    border-style: none;
    border-color:#ffffff;
    border-width: 2px;
    display: inline-block;
    width: auto;
}

#Stato{
    border-style: none;
    background-color: #ffffff;
    width: 470px;
    margin-top: 320px;
}

#bloccofoto{
    
    border-style: solid;
    border-width: 1px;
    width: 80px;
    height: 80px;
    margin-top:320px;
    background-color:#ffffff;
    margin-left: -170px;
}
#BloccoModProf label, #BloccoModProf input{
    width: 180px;
    display: table-cell;
}

#BloccoModProf{
    border-style: solid;
    border-color:#ffffff;
    border-width: 1px;
    float:left;
    background-color: #ffffff;
    margin:5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 100%;
}

}
@media only screen and (min-width: 720px) and (max-width: 1024px) {
    
#BloccoSup{
    border-style: none;
    background-color: #ffad1f;
    color: #ffffff;
    height: 52px;
    margin: 0px;
    padding: 0px;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-8px;
    font-size:0pt;
    width: 100%;
}
#BloccoTitolo{
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color: #ffd03f;
    color: white;
    width: 180px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}
#BloccoProfilo{
    border-style: solid;
    border-width: 1px;
    border-color:#ffffff;
    background-color: #ffd03f;
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}

#Corrente{
    border-style: solid;
    border-width: 1px;
    border-color:#ffffff;
    background-color:#ffffff;
    color: white;
    height: 50px;   
    width: 150px;
    text-align: center;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}
#NomeUtente{
    float:right;
    border-style: none;
    text-align: center;
    font-size:12pt;
    line-height: 25px;
}
#BloccoSin{
    border-style: solid;
    border-color:#ffffff;
    border-width: 1px;
    width:180px;
    margin-left:-8px;
    float:left;
    background-color: #ffffff;
}
.Post{
    padding:1px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
#Posts{
    
    border-style: none;
    border-color:#ffffff;
    border-width: 2px;
    display: inline-block;
}

#Stato{
    border-style: none;
    background-color: #ffffff;
    width: 680px;
}

}
@media only screen and (min-width: 1024px) {
    
#BloccoSup{
    border-style: none;
    background-color: #ffad1f;
    color: #ffffff;
    height: 52px;
    margin: 0px;
    padding: 0px;
    margin-left:-8px;
    margin-right:-8px;
    margin-top:-8px;
    font-size:0pt;
    width: 100%;
}
#BloccoTitolo{
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color: #ffd03f;
    color: white;
    width: 180px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}
#BloccoProfilo{
    border-style: solid;
    border-width: 1px;
    border-color:#ffffff;
    background-color: #ffd03f;
    color: white;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}

#Corrente{
    border-style: solid;
    border-width: 1px;
    border-color:#ffffff;
    background-color:#ffffff;
    color: white;
    height: 50px;   
    width: 150px;
    text-align: center;
    line-height: 50px;
    display:inline-block;
    font-size:16pt;
    font-weight:bold;
}
#NomeUtente{
    float:right;
    border-style: none;
    text-align: center;
    font-size:12pt;
    line-height: 25px;
}
#BloccoSin{
    border-style: solid;
    border-color:#ffffff;
    border-width: 1px;
    width:180px;
    margin-left:-8px;
    float:left;
    background-color: #ffffff;
}
.Post{
    padding:1px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
#Posts{
    
    border-style: none;
    border-color:#ffffff;
    border-width: 2px;
    display: inline-block;
}

#Stato{
    border-style: none;
    background-color: #ffffff;
    width: 680px;
}

}